*{
    font-family: 'Franklin Gothic Medium';
    margin: 0;
    box-sizing: border-box;
}
ul{
    background-color: black;
    display: flex;
    list-style: none;
}
li{
    margin-right: 25px;
}
h2{
    color: white;
    font-size: 40px;
}
.main{
    height: 100vh;
    display: grid;
    place-content: center;
}
.card{
    text-align: center;
}
input{
    width: 100%;
    text-align: center;
    border: none;
    font-size: 60px;
}
.buttons button{
    width: 100px;
    height: 60px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    transition: .5s;
    background-color: black;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
button:hover{
    transition: .5s;
    background-color: rgb(0, 18, 92);
    cursor: pointer;
}